<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="FacebookDemo" configfailurepolicy="skip">

	<listeners>
	<listener class-name="com.facebook.utilities.Reporting"/>
	</listeners>
	<test name="FacebookTest">
		<parameter name="browser" value="chrome" />
		<classes>
<!-- 			<class name="com.facebook.testcases.Tc_001_LoginTest"/>
			<class name="com.facebook.testcases.Tc_003_CreatePostTest"/>
		    <class name="com.facebook.testcases.Tc_002_HomePageDetails"/>
-->

     <!--  <class name="com.facebook.testcases.Tc_001_LoginTest"/> -->
      <class name="com.facebook.testcases.Tc_003_CreatePostTest"/>
      <!--  <class name="com.facebook.testcases.Tc_002_HomePageDetails"/> -->
    
		</classes>

	</test>

</suite>